.container-schedule {
  /* border: 1px solid red; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.encabezado-schedule {
  /* border: 1px dashed green; */
  width: 100%;
  text-align: center;
}
.encabezado-schedule > h1 {
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

.main-content-calendar {
  /* border: 1px solid blue; */
  width: 98%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*Espaciado entre elementos*/
  gap: 1rem;
}

.aside-calendar {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  min-width: 150px;
  width: auto;
  height: auto;
}

.display-calendar {
  flex: 2;
  background-color: white;
  box-shadow: 10px 10px 15px gray;
  border: 1px solid black;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .main-content-calendar {
    flex-direction: column;
    align-items: center;
  }

  .display-calendar {
    width: 100%;
  }
}

@media (max-width: 834px) {
  .aside-calendar {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
