.dashboardpage-container {
  display: flex;
}

.dash-content {
  /* background-color: gray; */
  width: 100%;
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: fit-content;
  margin-top: 50px;
  /*-5.9%*/
  margin-left: -5.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  /* padding: 1rem; */
  transition: margin-left 0.3s ease; /* Transición suave para cambios */
}

/**Responsive*/
@media (max-width: 1200px) {
  .dash-content {
    margin-left: -8%;
    width: 1000%;
  }
}

@media (max-width: 840px) {
  .dash-content {
    margin-left: -11%;
    width: 110%;
  }
}

@media (max-width: 768px) {
  .dash-content {
    margin-left: -12%;
    width: 1000%;
  }
}
@media (max-width: 500px) {
  .dash-content {
    margin-left: -25%;
  }
}
