.dashboardpage-container {
  /* background-color: #1976d2; */
  /* background-color: #79a2cc; */
  display: flex;
  height: fit-content;
}

.dash-content {
  /* background-color: gray; */
  width: 100%;
  height: fit-content;
  margin-top: 54px;
  margin-left: -6%;
  margin-right: 0.5%;
  /* padding: 1rem; */
  transition: margin-left 0.3s ease; /* Transición suave para cambios */
}

/**Responsive*/
@media (max-width: 1200px) {
  .dash-content {
    margin-left: -8%; /* Ajusta según lo necesario */
  }
}

@media (max-width: 840px) {
  .dash-content {
    margin-left: -11%; /* Ajusta según lo necesario */
  }
}

@media (max-width: 768px) {
  .dash-content {
    margin-left: -12%; /* Aumenta el margen ligeramente */
  }
}
@media (max-width: 540px) {
  .dash-content {
    margin-left: -16%; /* Aumenta el margen ligeramente */
  }
}

@media (max-width: 480px) {
  .dash-content {
    margin-left: -20%; /* Márgenes para pantallas pequeñas */
  }
}

@media (max-width: 380px) {
  .dash-content {
    margin-left: -28%; /* Márgenes para pantallas pequeñas */
  }
}
