.dashboardpage-container {
  display: flex;
  flex-direction: column;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 10px 1fr; /* Sidebar fijo, contenido dinámico */
  height: calc(100vh - 60px); /* Ajuste dejando espacio para la Topbar */
}

.dash-content {
  background-color: gray;
  width: 100%;
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: fit-content;
  margin-top: 50px;
  transition: margin-left 0.3s ease; /* Transición suave para cambios */
}

.sidebar.closed {
  width: 70px !important; /* Tamaño reducido cuando está cerrado */
}

.sidebar.open {
  width: 250px !important; /* Tamaño normal cuando está abierto */
}

/**Responsive*/
