/**********************Vista de calendario en mes*********************************/
.fc-header-toolbar {
  /* background-color: #f4f4f4; */
  width: 100%;
  padding: 10px 0;
}

.fc-col-header-cell-cushion {
  /* border: 1px dashed black;   */
  text-align: center;
}
.fc-col-header-cell {
  text-transform: uppercase;
  font-weight: bold;
}
.fc-daygrid-day-frame {
  background-color: antiquewhite;
  border: 1px solid #ddd;
  /* width: 50%; */
}

/*Clase div de cabecera tabla*/
.fc th {
  background-color: #1976d2;
}

/*******************Estilos vista de semana*************************/
.fc-timegrid-slot {
  border: 1px solid #ccc;
  background-color: #fff;
}
.fc-timegrid-axis-cushion {
  font-weight: bold;
}
/*******************Estilos Responsive***************************/
@media (max-width: 768px) {
  .fc-daygrid-day {
    height: 70px; /* Reduce el tamaño de las celdas en pantallas pequeñas */
  }

  .fc-timegrid-slot {
    height: 40px; /* Ajusta la altura de las franjas horarias */
  }
}
