/*! Estilos del contenedor principal*/
.medicalOffice-container {
  margin-top: 2rem !important;
  margin-left: 2 rem !important;
  margin-right: 0.2rem !important;
  width: 95.5%;
  height: fit-content !important;
  font-family: "Roboto", sans-serif;
  background-color: transparent !important;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px !important;
}

/*! Estilos del header*/
.mo-cont-header {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
.mo-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mo-header-calendaer {
  display: flex;
  align-items: end;
  height: 50px;
}
.mo-header-top {
  padding: 0px 10px 0px 10px;
  width: auto;
  height: fit-content;
  display: flex;
  align-items: center;
}
/* .MuiSelect-select,
.MuiSelect-outlined,
.MuiInputBase-input,
.MuiOutlinedInput-input, */
.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px 0px 0px 10px !important;
}
.MuiInputBase-input {
  margin-right: 32px !important;
}

.mo-header-select {
  padding: 0px !important;
}
.mo-header-title {
  width: 80%;
  text-align: center;
}

.mo-header-button {
  background-color: rgb(25, 118, 210) !important;
  color: white !important;
  font-size: 10px !important;
}
.mo-header-search {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

/*! Estilos del contenedor del main content*/
.mo-main {
  min-width: 500px;
  width: 100%;
  max-width: auto;
}

.mo-container-table {
  padding: 0px !important;
}

/*Media Querys 1334x710*/
@media (max-width: 1335px) and (max-height: 711px) {
  .medicalOffice-container {
    width: 94%;
    margin-left: 4.2rem !important;
  }

  .mo-main {
    width: 100%;
    max-width: 1200px;
    margin: 0px !important;
  }

  .mo-container-table {
    width: 100% !important;
  }
}
