/* Color de fondo cuando el drawer está cerrado */
.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  /* background-color: #1976d2; */
  /* background: rgba(2, 0, 36, 1) 0%; */
  background-color: #1a369a;
}

.barra-lateral .MuiDrawer-paper {
  transition: width 0.75s ease;
}

.barra-lateral .MuiListItemButton-root:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}
.MuiListItemButton-root {
  padding: 0px !important;
}

/* Estilos para manejar el estado de active del navlink de Tools*/
.aside-link {
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin: 0px !important;
  top: 0px !important;
}

.aside-link.active {
  color: #1a369a;
  /* background-color: #78a2cd; */
  background-color: #fff;
}
