/* Color de fondo cuando el drawer está cerrado */
.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  background-color: #1976d2;
  background: rgba(2, 0, 36, 1) 0%;
  background-color: #1a369a;
}

.barra-lateral .MuiDrawer-paper {
  transition: width 0.75s ease;
}
