.container-vitalsigns {
  width: 100%;
  height: fit-content;
}

/**********Estilos Encabezado***********/
.vts-header {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 4px;
  padding-right: 5px;
}
.vts-title {
  text-align: center;
  width: 100%;
}
.vts-header-date {
  margin: 0 !important;
  display: flex;
  justify-content: flex-end !important;
}
.css-11ag90j-MuiStack-root {
  padding-top: 0px !important;
}

/**********Estilos Contenido princip+al***********/
.vts-main {
  background-color: white;
  border-radius: 4px;
  /* padding: 0.5rem; */
  display: flex;
  height: 100%;
}

/****************!!Estilos Sección Izquierda***********/
.vts-main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.chair-card {
  background-color: #c6cde6 !important;
  /* background-color: #334893 !important; */
  border: 1px solid #ccc !important; /* Bordes sutiles */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin: 0.5rem 0.5rem 0 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
.encabezado {
  margin: 0px !important;
  padding-left: 5px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

/******Estilos Info de turno******/
.fields-turn-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

/******Estilos Info de paciente******/
.fields-patient-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

/******Estilos Signos Vitales Paciente******/
.fields-sign-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}
.field-signs {
  align-items: center;
  display: flex;
  justify-content: space-between !important;
  border-radius: 4px;
}
.field-signs-input {
  width: 70px;
  height: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 0px;
}

.field-signs-checkbox {
  display: flex;
  align-items: center;
  width: 160px;
}

#bloodPressure {
  margin-left: 21px;
}
#pulse {
  margin-left: 30px;
}

/******Estilos Medidas Ojos******/
.fields-eyes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #334893;
  color: white;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.fields-eyes-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/******Estilos generales para campos******/
.field {
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 4px;
}
.field,
.field-signs {
  /* background-color: #334893;*/
  /* color: white; */
}

#turno,
#consultorio,
#ci,
#hc,
#edad,
#genero,
#nombre,
#medico {
  border-radius: 4px 4px 4px 4px;
  border: 0px;
}

#turno,
#consultorio,
#ci,
#hc {
  width: 75px;
  height: 30px;
}

#edad,
#genero {
  width: auto;
  height: 30px;
}
#nombre,
#medico {
  width: 185px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
}
.field > label {
  margin-right: 5px;
}

.date-field,
.time-field {
  height: fit-content;
  align-items: center;
}
.date-field > label {
  margin-right: 20%;
}
.time-field > label {
  margin-right: 20%;
}

.MuiInputBase-root {
  height: 30px !important;
  background-color: white;
}

/* padding para las letras dentro de los contenedores de fecha y hora */
.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px !important;
  padding-left: 0.3rem !important;
}

/*Estilos para dar un margen a los iconos de los calendarios en signos vitales*/
.css-elo8k2-MuiInputAdornment-root {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

/* Estilos dividir secciones */
.fields-patient-info,
.fields-sign-info,
.fields-turn-info {
  border-top: 2px solid gray;
  border-radius: 4px;
}

/**********!!Estilos Sección Derecha***********/
.vts-main-right {
  width: 50%;
  padding: 0.5rem;
}
.bar-search-table-list {
  background-color: #c6cde6 !important;
}
.tablePatient {
  background-color: #c6cde6 !important;
}
/* Encabezado de la tabla */
.MuiTableCell-head {
  /* background-color: #7081c0 !important; */
  background-color: #4d5b8d !important;
  border: 1px solid lightgray;
  color: white !important;
}

/* Cuerpo de la tabla */
/* .MuiTableCell-body {
  border: 1px solid black;
} */

/**********!Media queries**********/
@media ((max-width: 1600px) and (max-height: 900px)) {
  .dash-content {
    margin-left: -6.5%;
    width: 1000%;
  }

  .fields-turn-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    padding: 10px;
  }
  .fields-patient-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  #nombre,
  #medico,
  #edad {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
