/*! Estilos para el contendor que tiene el formulario*/
.cont-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: aliceblue;
  border-radius: 4px;
  box-shadow: 24;
  padding: 10px;
}

/*! Estilos  contenedor de los campos de creacion de usuario*/
.title-cont-camps-employee {
  margin-bottom: 10px !important;
  width: 100% !important;
}
.cont-camps-employee {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: auto;
  background-color: #c6cde6;
  border-radius: 4px;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

/*! Estilos campos del formulario*/
.camps {
  width: 80%;
  height: 50px !important;
}

/*! Estilos seccion botones de creacion de usuario*/
.footer-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/*! Estilos seccion asignar especialidad al  medico en creacion*/
.cont-camps-select-specialty {
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: #c6cde6;
  border-radius: 4px;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
/*Estilos campo seleccionable medico*/
.select-medic-employee {
  width: 230px !important;
  align-items: center !important;
  height: auto !important;
}

/*Campo del Autocmplete component donde se muestran las opciones*/
.MuiOutlinedInput-input {
  display: flex !important;
  /* border: 1px solid #000; */
  padding: 0px 0px 9px 5px !important;
  margin: 0px !important;
}
/*Estilos campo seleccionable*/
.select-specialty {
  width: 230px;
  height: 50px;
}
